#!/usr/bin/env bash
set -e

[ "$ZREPL_DRYRUN" = "true" ] && exit 0

pre_snapshot() {
    exit 0
}

post_snapshot() {
    zfs hold kopia $ZREPL_FS@$ZREPL_SNAPNAME
    if [ $? -ne 0 ]; then
        echo "Failed to hold snapshot $ZREPL_FS@$ZREPL_SNAPNAME"
        exit 1
    fi
}

case "$ZREPL_HOOKTYPE" in
    pre_snapshot|post_snapshot)
        "$ZREPL_HOOKTYPE"
        ;;
    *)
        printf 'Unrecognized hook type: %s\n' "$ZREPL_HOOKTYPE"
        exit 255
        ;;
esac
